<h2><%= @brand.name %> info</h2>

<h3>Price point: <%=@brand.formatted_price%></h3>

<h3>Here are the stores that sell <%= @brand.name %>:</h3>

<% if @brand.stores.any? %>
  <% @brand.stores.each do |store| %>
    <li><%= store.name %></li>
  <% end %>
<% else %>
  <p>You cannot buy those shoes anywhere.</p>
<% end %>

<h3>Add a store where shoe brand is sold:</h3>
<% if @all_stores = nil %>
  <p>It is a terrible shoe-storeless world.</p>
<% elsif @stores_available.any? %>
  <form action="/add_store/<%=@brand.id%>" method="post">
    <select name="store-id">
      <% @stores_available.each do |store| %>
        <option value="<%= store.id %>"><%= store.name%></option>
      <% end %>
    </select>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
<% else %>
  <p>This shoe is already sold in all teh stores!</p>
<% end %>

<a href="/">home</a>
